@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Raleway&display=swap');

$theme-colors: (
	'primary': white,
	'secondary': blue,
);

@import '~bootstrap/scss/bootstrap.scss';

/* GLOBAL STYLES */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #333;
	font-family: 'Raleway';
}

h1,
h2,
h3,
h4,
h5,
p {
	line-height: 1.7;
	color: white;
}

hr {
	width: 30%;
	background: white;
}

#about,
#projects {
	padding-top: calc(max(8vw, 80px));
}

.header {
	font-size: calc(max(3vw, 20px));
	text-shadow: 0.2vw 0.2vw 0.2vw rgb(203, 23, 6);
}
