.about-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/* max-width: 800px; */
	/* margin-top: 100px; */
	margin: 90px auto;
	/* outline: 1px solid gold; */
}

.about-text {
	display: flex;
	align-items: center;
	/* width: min(50vw, 350px); */
	padding: 10px;
	flex-grow: 1;
	max-width: 450px;
	/* max-width: 400px; */
	/* font-size: min(2vw, 32px); */
	font-size: 20px;
	font-weight: 700;
	/* outline: 1px solid green; */
}

.profile-pic {
	align-self: center;
	/* object-fit: contain; */
	width: 300px;
	max-width: 300px;
	height: auto;
	/* box-shadow: 0 0 18px 18px white inset; */
	border-radius: 50%;
	/* outline: 1px solid pink; */
}
