@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.navbar {
	background: #333;
	border-bottom: 1px solid white;
}

.navbar-brand h2 {
	font-size: max(3vw, 20px);
	font-family: 'Libre Barcode 39 Text', cursive;
}

.nav-link {
	font-size: max(1.5vw, 24px);
}

.nav-link:after {
	display: block;
	content: '';
	border-bottom: 1px solid white;
	transform: scaleX(0);
	transform-origin: 100% 50%;
	transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
	transform: scaleX(1);
	transform-origin: 0% 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(1);
}
