/* @import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.navbar {
	background: #333;
	border-bottom: 1px solid white;
}

.navbar-brand h2 {
	font-size: 2.5rem;
	font-family: 'Libre Barcode 39 Text', cursive;
	/* font-family: 'Major Mono Display', monospace; */
	/* font-family: 'Nixie One', cursive; */
	/* font-family: 'Megrim', cursive; */
	/* font-family: 'Monofett', cursive; */
	/* font-family: 'Londrina Shadow', cursive; */
}

.nav-link {
	font-size: 1.3rem;
}

.nav-link:after {
	display: block;
	content: '';
	border-bottom: 1px solid white;
	transform: scaleX(0);
	transform-origin: 100% 50%;
	transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
	transform: scaleX(1);
	transform-origin: 0% 50%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	filter: invert(1);
}
