* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica Neue;
}

header {
	display: grid;
	height: 180px;
	justify-items: center;
}

header > h1 {
	font-size: 48px;
}

#start-game {
	background: url('pieces/wp.svg') no-repeat;
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: 5px solid black;
	border-radius: 10px;
}

#start-game:hover {
	background: url('pieces/bp.svg') no-repeat;
}

.board {
	display: grid;
	width: 800px;
	height: 800px;
	margin: 20px auto;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	cursor: pointer;
	border: 1px solid black;
}

.board > div {
	display: grid;
	margin: 0;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.row-0:nth-child(even),
.row-1:nth-child(odd),
.row-2:nth-child(even),
.row-3:nth-child(odd),
.row-4:nth-child(even),
.row-5:nth-child(odd),
.row-6:nth-child(even),
.row-7:nth-child(odd) {
	background: rgb(120, 181, 120);
}

.board div > img {
	width: 100px;
	height: 100px;
}

.check-text {
	font-size: 38px;
	text-align: center;
	background-color: rgb(255, 160, 160);
	border: 3px solid black;
}
